.title {
  color: #a6917e;
  font-size: 2.5vw;
  text-align: center;
  padding-bottom: 30px;
}

div.row {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column_profile {
  float: left;
  padding-left: 4%;
  padding-right: 4%;
  width: 20%;
  font-size: 1vw;
  text-align: left;
}

.container_pro_pic {
  width: 100%;
}

.profile_header {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}


img {
  max-width: 100%;
  max-height: auto;
  height: auto;
  object-fit:scale-down;
  padding-top: 5%;
  padding-bottom: 5%;
}

img.profile_pic {
  width: 800px;
  height: auto;

}

.row:after {
  position: relative;
  content: "";
  display: table;
  clear: both;
}


body {
  background-color: #ffffff;
  margin-left:10%;
  margin-right:10%;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 1vw;
}

.topnav {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  align: center;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #a6917e;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #a6917e;
}

/* Making horizontal lines with words */
.strike {
  padding-top: 20px;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.45vw;
  color: #a6917e;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: #a6917e;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

/* Study staff page containers */
.staff_img {
  width: 50px;
}


/* Contact form styles */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  font-size: 1vw;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact_container {
  width: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  padding-left: 10%;
}

.dml_img {
    /* padding-top: 0px;
    padding-left: 27%;
    padding-bottom: 2%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer styling */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #white;
  color: #007fff;
  text-align: center;
  height: 3.5rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;            /* Footer height */
  align-items: center;
  text-align: center;
  color:#808080;
}
