.title {
  color: #a6917e;
  font-size: 32px;
  text-align: center;
}

body {
  background-color: #ffffff;
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:10px;
  font-size: 18px;
}

.topnav {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #a6917e;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #a6917e;
}
