.title {
  color: #a6917e;
  font-size: 3vw;
  text-align: center;
  padding-bottom: 30px;
}

div.row {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column_profile {
  float: left;
  padding: 4%;
  width: 20%;
  font-size: 1vw;
}

.profile_header {
  font-size: 110%;
}


img {
  max-width: 100%;
  max-height: auto;
  height: auto;
  object-fit:scale-down;
  padding-top: 5%;
  padding-bottom: 5%;
}

img.profile_pic {
  width: 500px;
  height: 300px;

}

.row:after {
  position: relative;
  content: "";
  display: table;
  clear: both;
  padding: 20px;
  padding-bottom:80px;
}


body {
  background-color: #ffffff;
  margin-left:10%;
  margin-right:10%;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 1vw;
}

.topnav {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  align: center;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #a6917e;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #a6917e;
}

/* Making horizontal lines with words */
.strike {
  padding-top: 20px;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 28px;
  color: #a6917e;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: #a6917e;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

/* Study staff page containers */
.staff_img {
  width: 50px;
}
